.welcome-title {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

.back-home {
    margin-top: 20px;
    text-align: center;
  }
  
.back-link {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid #333;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}
  
.back-link:hover {
    background-color: #f0f0f0;
}
  

.grid {
    display: grid;
    gap: 2px;
    justify-content: center;
    margin-top: 20px;
}  
  
.grid-cell {
    background-color: lightgray;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
  
.grid-cell:hover {
    background-color: darkgray;
}

.game-header {
    text-align: center;
    margin-bottom: 20px;
}

.difficulty-selector {
    text-align: center;
    margin-bottom: 20px;
}
  
.difficulty-levels {
    display: flex;
    justify-content: center;
    gap: 20px;
}
  
.difficulty-link {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    border: 2px solid #333;
    border-radius: 4px;
    transition: all 0.3s;
}
  
.difficulty-link:hover {
    color: darkblue;
}
  
  
  
.grid-cell.safe {
    background-color: lightgreen;
  }
  
  .grid-cell.bomb {
    background-color: red;
    color: white;
  }

.grid-cell.flagged {
    background-color: orange;
    color: white;
}
